/*
 ##############........>>> FOLHA DE ESTILO DA APLICAÇÃO SUPERINTERFACE <<<........##############
 */
html {
	overscroll-behavior-y: contain;
}
body {
	color:black;
	background-image: radial-gradient(#166664 0%, #252233 80%);
	overscroll-behavior-y: contain;
} 

div.barras {
	background-color: #F2C72B;      /*  silver */
	align: center; 
	border: 1px solid black;
	overflow: hidden;
	transition: all 0.2s linear;
	zindex: 10;
	padding: 8ṕx;
}
table {
	vertical-align: top;
	color: inherit;
	padding: 5px;
	height: auto;
}
td {
	vertical-align: top;
	color: inherit;
	border-right: 1px solid yellow;
	height: 2rem;
}
div.paleta {
	width: 65%;
	min-width: 150px;
	height: 100%;
	margin: 0; 
	padding: 0;
	float: left;
	background-image: radial-gradient(#166664 0%, #252233 80%);
	color: black;
	font-family: arial;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
}
#conteudo {  /* eh o div que contem a palheta */
	top: 0px;
	height: 100%;
	width: 35%;
	left: 65%;
	float: right;
	overflow: hidden;
	background-color:#66B3FF; 		/* darkblue;  */
	position: absolute;
	padding: 1px;
	box-sizing: border-box;
	z-index: 100; 
}
th {
	border: 1px solid black;
	background-color: white;
	vertical-align: top;
	color: black;
}
.search_box {
	visibility: hidden;
	padding: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	height:0%;
	width: 0%;
	border: 1px solid black;
	background-color: #B1AC61;				/*  #666633; */
	color: black;
	z-index: -1000;
	transition: all 0.5s linear;
}
.indice{
	position: absolute;
	width: 5%;
	height: 5%;
	color: yellow;
	font-size: 1.4rem;
}
.padrao {
	width: 100%
	height: 2rem;
	border-collapse: collapse;
	border: 1px solid gray;
	background-color: #F2B12B; 					/* #336600 */
}
.dicas {
	width: 100%
	height: 0.5rem;
	border-collapse: collapse;
	border: 1px solid gray;
	background-color: #F2B12B; 				/* #336600; */
	font-size: 0.75em;
}
input[type=text] {
    width: 100%;
    padding: 3px;
    margin: 0px;
	font-size: 0.7rem;
	height: 2rem;
}
.avisos {
	visibility: hidden;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	position: absolute;
	background-color: green;
	border: 1px solid black;
	z-index: 100000;
	font-size: 40px;
}
input[type=button] {
	height: 2rem;
	font-size: 0.7rem;
}
/* ######################################## */
