/*
 ##############........>>> FOLHA DE ESTILO DA DOCUMENTAÇÃO PORTLET <<<........##############
 */
body{
	font-size: 20px;
}
.centrado {
	margin: 0 auto;
}
.comentario {
	border: 1px solid black;
	background-color: #FFA501;
	width: 90%;
	left: 5%;
	box-sizing: border-box;
	padding: 10px;
	position: inline;
	align: center;
	font-size: 1.1rem;
	overflow: scroll;
	text-align: justify;
	text-justify: inter-word;
}
a {
	font-size: 1.3rem;
	text-align: right;
}
.lista_de_conteudo {
	font-size: 15px;
}
.padrao2{
	border: 1px solid black;
	background-color: gray;
	align: center;
	border-collapse: collapse;
	margin: 0 auto;
	padding: 2px;
}
.padrao {
width: 60%;
border: 1px solid black;
background-color: gray;
align: center;
border-collapse: collapse;
margin: 0 auto;
}
div {
	width: 600px;
	height: 400px;
	border: 1px solid lightgray;
}
code {
	background-color: black;
	color: white;
	white-space: pre;
	font-size: 15px;
}
h2 {
	background-color: green;
}
.codigo {
	padding: 5px;
	background-color: black;
	color: white;
	width: -webkit-fit-content;
	height: -webkit-fit-content;
	width: -moz-fit-content;
	height: -moz-fit-content;
}
#conteudo {
	width: 85%;
	height: 99%;
	float: right;
	overflow-y: scroll;
	max-height: 99%;
	box-sizing: border-box;
	padding: 10px;
}
#menu {
	width: 15%;
	height: 99%;
	margin: 0;
	padding: 0px;
	float: left;
	background-color: #669999;
	color: #003300;
	font-family: arial;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	border-right: 1px solid gray;
	overflow-y: scroll;
}
p {
	font-size: 1.3rem;
	text-indent: 50px;
	text-align: justify;
	text-justify: inter-word;
}
/* ######################################## */
