/*
 ##############........>>> FOLHA DE ESTILO DE INSERÇÃO DE DADOS EM CRIA_JOIN_VIEW <<<........##############
*/

div.cabecalio {
	background-color: lightgreen;
	border: 1px solid black;
}

table,td,th {
	background-color: green;
	border: 1px solid black;
	border-collapse: collapse;
}
/* ######################## */
