# --------------------------------------------------------------------------------------------------------------------------+
#                                                                                                                           |
#                                       SUPERINTERFACE: ARQUIVO DE CONFIGURAÇÃO                                             |
#                                                                                                                           |
# --------------------------------------------------------------------------------------------------------------------------+
#	Parte 1: parametrizações
CPBASE=""                                 # base de dados da aplicação
CPBASEUSER=""                             # usuário da base de dados
CPBASEPASSW=""                            # password da base de dados
CPNUMERARPDF=0                            # renomear arquivos PDF (0 = não; 1 = sim)
CPHTTPHOST=""                             # Host name $_SERVER['HTTP_HOST'] + pasta raiz

									   # exemplos:
									   # observatorio.wash.net.br/superinterface
									   # exemplo.br
CPQPDFLOTE=2                           # quantidade máxima de arquivos PDF tratados a cada ativação do script do cron
CPTAMMAX=1900000                       # tamanho max do arquivo para upload (em bytes). Não é o pnp.ini.
#
#	Parte 2: variáveis do ambiente
#	obs: tenha cuidado para alterar os parâmetros abaixo.  Só faça se estiver seguro
CPMAX=100                              # tamanho máximo de nome arquivos PDF (válida quando renomear arquivos = sim)
CPMAXLOG=300000                        # tamanho limite do arquivo de log, antes de ser comprimido (em bytes) 
CPPUPLOADS="../su_uploads"             # pasta com os novos arquivos de uploads
CPPIMAGEM="../su_imagens"              # pasta do acervo dos arquivos que foram colocados na base mysql
CPPRIMITIVOS="../su_primitivos"        # pasta dos arquivos originais do acerto - ODT, DOCX, RTF etc (exceto PDFs)
CPPWORK="../su_work"                   # pasta de trabalho auxiliar para manipulação de arquivos PDF
CPPLOG="../su_logs"                    # pasta de logs
CPPQUARENTINE="../su_quarentine"       # pasta para guardar novos arquivos PDF repetidos (já estavam no acervo)
CPPRIMITIVO="../su_primitivos"         # pasta para guardar arquivos originais não PDF já tratados
CPPAUTOPHP="../su_autophp"             # pasta para receber arquivos PHP a serem gerados automaticamente
CPPADMIN="../su_admin"                 # pasta da administrativa da Superinterface
CPPCSS="../su_css"                     # pasta de estilos
CPPDOCS="../su_docs"                   # pasta destinada aos arquivos de documentação da Superinterface 
CPPEXEMPLOS="../su_exemplos"           # pasta de exemplos de arquivos SQL aplicação externa
CPPICONS="../su_icons"                 # pasta de icons
CPPINSTALL="../su_install"             # pasta com arquivos de instalação da Superinterface
CPPPHP="../su_php"                     # pasta de arquivos PHP da administração da Superinterface
CPPJS="../su_js"                       # pasta de arquivos javascript
CPINDICEPDF="super_indicepdf.txt"      # nome do arquivo para guardar último número de índice para nome arq. PDF 
CPALOG="super_logshell.log"            # nome do arquivo de logs da Superinterface em formato texto
CPALOGHTML="super_logshell.html"       # nome do arquivo de logs da Superinterface em formato html
CPPHPFILE="super_config_php.cnf"       # nome do arquivo de configuração gerado para o PHP
CPLOGSFILEGZ="super_logfile.tar"	   # nome base do arquivo compactado de logs
CPNOMECIDADES="super_cidades_maiusculas.txt"    # nome arquivo com nomes das cidades (em letras maiúsculas, sem controle)
CPNOMEINST="super_instituicoes_maiusculas.txt"  # nome arquivo com nomes das instituições (em letras maiúsculas, sem controle)
CPINSEREINST="super_csv_instituicoes.csv"          # arquivo com nomes de instituições para  tabela 'su_instituicoes'
CPINSEREDOCS="super_csv_tiposdocumentos.csv"       # arquivo com nomes de tipos de documentos para tabela 'su_instituicoes'
CPINSEREPAIS="super_csv_ibge_paises.csv"           # arquivo com nomes e códigos de países para tabela 'su_paises'
CPINSEREESTADOS="super_csv_ibge_estadosbrasil.csv" # arquivo com nomes e códigos estados brasileiros para tabela 'su_estados'
CPINSERECIDADES="super_csv_ibge_cidadesbrasil.csv" # arquivo com nomes e códigos cidades para tabela 'su_cidades'
CPINSERELOGRA="super_csv_logradourosbrasil.csv"    # arquivo com tipos de logradouros para tabela 'su_logradouros'
CPINSERENOMES="super_insere_nomes.sql"        # arquivo com comandos SQL de inserção de dados na tabela 'su_names_brasil'
CPCRIATABELAS="super_cria_tabelas.sql"        # arquico SQL de criação tabelas e inserts iniciais da Superinterface
CPTABAPLICACAO="super_tab_aplicacao.sql"      # arquivo SQL de criação tabelas e inserts iniciais da aplicação do usuário
CPINSEREREGIST="super_csv_registrados.csv"    # arquivo SQL com comandos de inserção de dados na tabela 'su_registrados'
CPTABELASCRIADAS="super_tabelascriadas.html"  # arquivo com a lista das tabelas criadas, e suas estruturas
CPACENTO="acento"                      # extensão nome dos arquivos com conteúdo sem caracteres acentuados
CPCONTRL="contrl"                      # extensão nome dos arquivos com conteúdo sem caracteres controles
CPMAIUSCULA="maiuscula"                # extensão nome dos arquivos com conteúdo todo em caixa alta
CPPERM500="500"                        # permissão para os arquivos shell
CPPERM750="750"                        # permissão padrão para pastas
CPPERM440="440"                        # permissão para arquivos de cidades e criação de tabelas (imutáveis)
CPPERM640="640"                        # permissão padrão para arquivos
CPPERM600="600"                        # permissão para arquivo de configuração desta aplicação
CPCRON="cron"                          # flag para indicar ativação do script de tratamento de novos PDFs via cronjob
CPROOT_UID=0                           # root ID
CPNOMECOWSAY1="super_cowsay1.txt"      # nome do arquivo de mensagens cowsay utilizado no script instalação da Superinterface
CPNOMENOVOS="super_novospdf.sh"        # nome do arquivo ativado pelo cron responsável por tratar os novos arquivos PDF
#
#	Parte 3:  upload de arquivos
CPLIMITATAM="sim"                      # Limitar tamanho do arquivo (sim, nao)
CPLIMITAEXT="sim"                      # Limitar as extensões? (sim , nao)
#                                      Atenção: CPEXTENSOES e CPEXTAMPLAS são necessárias para verificações de segurança
CPEXTENSOES=(".pdf" ".txt" ".doc" ".docx" ".rtf" ".odt")	# exemplo em PHP: array(".gof",".jpg",".bmp");
CPEXTAMPLAS=(".[pP][dD][fF]" \
             ".[tT][xX][tT]" \
			 ".[dD][oO][cC]" \
			 ".[dD][oO][cC][xX]" \
			 ".[rR][tT][fF]" \
			 ".[oO][dD][tT]")

CPSOBRESCREVER="nao"                   # sobrescrever se arquivo já existir (sim,nao)
